@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
html {
  background-color: #eeeeee;
}
.title {
  width: 100vw;
  height: 150px;
  font-size: 4rem;
  color: white;
  background-color: #707070;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title-box h1 {
  margin-left: 20px;
  font-size: 2.5rem;
}
button {
  visibility: hidden;
  background-color: transparent;
  border: none;
}
button i {
  font-size: 2.5rem;
  color: #ffffff;
}
.main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 150px);
  width: 100vw;
}
.aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #dddddd;
  width: 300px;
}
.section {
  width: 55.5%;
  padding: 30px 40px;
}
.tab {
  height: 100%;
}
.project-tab {
  height: 100%;
}
.add-task {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-task i {
  margin-right: 10px;
}
.section-title {
  font-size: 2rem;
  margin: 10px;
}
h3,
.project-div {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 2px;
  user-select: none;
}
h3:hover,
.project-div:hover,
.add-task:hover,
.color-change {
  background-color: #cccccc;
}
h2 {
  margin: 20px 10px;
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#title,
#date {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 15px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.btn-container input {
  width: 40%;
  font-size: 1rem;
  padding: 10px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}
#submit {
  background-color: #40c9ff;
}
#cancel-submit {
  background-color: rgba(255, 69, 0, 0.7);
}
.hide {
  display: none;
}
#title + p,
#date + p {
  margin-bottom: 3vh;
}
#title + p,
#date + p {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: orangered;
  opacity: 0;
  height: 0;
  margin-bottom: 1vh;
}
#title.invalid + p,
#date.invalid + p {
  opacity: 1;
  height: auto;
}
.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-div,
.special {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.remove {
  transform: rotate(45deg);
  margin-right: 10px;
}
.aside,
.constant-content,
.project-container {
  transition: visiblilty 0.45s ease-in-out 50ms;
}
@media (max-width: 700px) {
  .section {
    width: 100%;
    padding: 30px 20px;
  }
}
@media (max-width: 650px) {
  .main {
    flex-direction: column;
  }
  .aside {
    width: 100%;
  }
  .aside.aside-alter {
    color: transparent;
    visibility: hidden;
    height: 0px;
    padding: 0px;
  }
  .constant-content.content-alter,
  .project-container.content-alter {
    color: transparent;
    height: 0px;
    padding: 0;
    visibility: hidden;
  }
  button {
    visibility: visible;
  }
}
@media (max-width: 479px) {
  .title {
    width: 479px;
  }
  .main {
    align-items: stretch;
    width: 479px;
  }
  body {
    align-items: stretch;
    width: 479px;
  }
}
